.**
!.gitignore
env/
*.log
venv/
ENV/
**.pyc

# Custom files for analysis
inputs/*
outputs/*
load_profiles/*
electric_rates/*


# Notebooks, except example/templates
*.ipynb
!single_scenario_example.ipynb
!multi_scenario_example.ipynb
!gerry00_test_one.ipynb
!outputs/posts
!outputs/results
!inputs/VA_inputs2.json
!outputs/UtilityChoices.json
!outputs/*.xlsx
